HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Log files
*.log
*.log.*
logs/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

spring-boot-*.log
*.pid

.env
.env.local
.env.*.local
application.yaml

*.sql.gz
*.dump

*.tmp
*.temp
*.swp
*.swo
*.bak
*.backup
*~


### VS Code ###
.vscode/
